[submodule "dependencies/human_body_prior"]
	path = dependencies/human_body_prior
	url = git@github.com:nghorbani/human_body_prior.git
[submodule "dependencies/body_visualizer"]
	path = dependencies/body_visualizer
	url = https://github.com/nghorbani/body_visualizer.git
